<%= form_for @changeset, path(@conn, DiscussWeb.Router, ~p"/topics/#{@topic_id}"), fn f -> %>
  <div class="form-group">
    <%= text_input f, :title, placeholder: "Ttile", class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <%= submit "Save Topic", class: "btn btn-primary" %>
<% end %>